.form {
  margin: 0 auto;
  width: 400px;
  margin-bottom: 60px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.searchBtn {
  cursor: pointer;
  background-color: aquamarine;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}
.searchBtn:hover {
  transform: scale(1.1);
}
.searchInput {
  border-radius: 4px;
}
